NIX_DIRENV_VERSION="2.3.0"
if ! has nix_direnv_version || ! nix_direnv_version $NIX_DIRENV_VERSION; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "sha256-ytpQmMcUBR2czh8kGOqn/dmD6u55m3lDbeu/G8HGD7A="
fi
use flake
